# ETL

In [1]:
# Initial Imports
import requests
import pandas as pd
import json
import numpy as np
from datetime import datetime
from datetime import timedelta

In [2]:
# Import API Key
from config import key

# Documentation:
#https://www.worldweatheronline.com/developer/my/analytics.aspx?key_id=222419

In [3]:
# Make a request to the worldweatheronline local history weather API page
def makeARequest(location, startDate, endDate, yourAPIKey):
    baseURL = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
    timeInterval = "1"
    outputFormatToReturn = "json"

    requestURL = f"{baseURL}?q={location}&date={startDate}&enddate={endDate}&tp={timeInterval}&format={outputFormatToReturn}&key={yourAPIKey}"
    
    response = requests.get(requestURL)

    if response.status_code == 200:
        responseJson = response.json()
        return responseJson
    else:
        return print(response.status_code)

In [4]:
# Pull the wind variables from the responseJson 
def monthlyHistoricalWeather(firstDayOfMonth, lastDayOfMonth, jsonResponse):
    
    first = datetime.strptime(firstDayOfMonth, '%Y-%m-%d')
    last = datetime.strptime(lastDayOfMonth, '%Y-%m-%d')
    numberOfDays = last.day - first.day

    HourlyHistoricalWeather = []
    
    for day in np.arange(0,numberOfDays + 1,1):
        for hour in np.arange(0,24,1):
            HourlyHistoricalWeather.append({
                "Date" : jsonResponse["data"]["weather"][day]["date"],
                "Time" : jsonResponse["data"]["weather"][day]["hourly"][hour]["time"],
                "Sunhour" : jsonResponse["data"]["weather"][day]["sunHour"],
                "Temp_F" : jsonResponse["data"]["weather"][0]["hourly"][0]["tempF"],
                "cloudcover_percent" : jsonResponse["data"]["weather"][0]["hourly"][0]["cloudcover"],
                "uvIndex" : jsonResponse["data"]["weather"][0]["hourly"][0]["uvIndex"],
                "humidity" : jsonResponse["data"]["weather"][0]["hourly"][0]["humidity"]
            })

    return HourlyHistoricalWeather

In [5]:

# Store the variables in a DataFrame
def monthlyHistoricalWeatherDF(month):
    weatherDataFrame = pd.DataFrame(month)
    return weatherDataFrame

In [6]:
# Define the Latitude and longitude of Webberville Solar Farm
    # Latitude: 30.238333
    # Longitude: -97.508611
latLong = "30.238333,-97.508611"

In [7]:
# January
date = "2019-01-01"
enddate = "2019-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

January = monthlyHistoricalWeather(date, enddate, responseJson)
JanuaryDF = monthlyHistoricalWeatherDF(January)

In [8]:
# February
date = "2019-02-01"
enddate = "2019-02-28"

responseJson = makeARequest(latLong, date, enddate, key)

February = monthlyHistoricalWeather(date, enddate, responseJson)
FebruaryDF = monthlyHistoricalWeatherDF(February)

In [9]:
# March
date = "2019-03-01"
enddate = "2019-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March = monthlyHistoricalWeather(date, enddate, responseJson)
MarchDF = monthlyHistoricalWeatherDF(March)

In [10]:
# April
date = "2019-04-01"
enddate = "2019-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April = monthlyHistoricalWeather(date, enddate, responseJson)
AprilDF = monthlyHistoricalWeatherDF(April)

In [11]:
# May
date = "2019-05-01"
enddate = "2019-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May = monthlyHistoricalWeather(date, enddate, responseJson)
MayDF = monthlyHistoricalWeatherDF(May)

In [12]:
# June
date = "2019-06-01"
enddate = "2019-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June = monthlyHistoricalWeather(date, enddate, responseJson)
JuneDF = monthlyHistoricalWeatherDF(June)

In [13]:
# July
date = "2019-07-01"
enddate = "2019-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July = monthlyHistoricalWeather(date, enddate, responseJson)
JulyDF = monthlyHistoricalWeatherDF(July)

In [14]:
# August
date = "2019-08-01"
enddate = "2019-08-31"

responseJson = makeARequest(latLong, date, enddate, key)

August = monthlyHistoricalWeather(date, enddate, responseJson)
AugustDF = monthlyHistoricalWeatherDF(August)

In [15]:
# September
date = "2019-09-01"
enddate = "2019-09-30"

responseJson = makeARequest(latLong, date, enddate, key)

September = monthlyHistoricalWeather(date, enddate, responseJson)
SeptemberDF = monthlyHistoricalWeatherDF(September)

In [16]:
# October
date = "2019-10-01"
enddate = "2019-10-31"

responseJson = makeARequest(latLong, date, enddate, key)

October = monthlyHistoricalWeather(date, enddate, responseJson)
OctoberDF = monthlyHistoricalWeatherDF(October)

In [17]:
# November
date = "2019-11-01"
enddate = "2019-11-30"

responseJson = makeARequest(latLong, date, enddate, key)

November = monthlyHistoricalWeather(date, enddate, responseJson)
NovemberDF = monthlyHistoricalWeatherDF(November)

In [18]:
# December
date = "2019-12-01"
enddate = "2019-12-31"

responseJson = makeARequest(latLong, date, enddate, key)

December = monthlyHistoricalWeather(date, enddate, responseJson)
DecemberDF = monthlyHistoricalWeatherDF(December)

In [19]:
# January
date = "2020-01-01"
enddate = "2020-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

Jan2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Jan2020DF = monthlyHistoricalWeatherDF(Jan2020)

In [21]:
# February
date = "2020-02-01"
enddate = "2020-02-29"

responseJson = makeARequest(latLong, date, enddate, key)

Feb2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Feb2020DF = monthlyHistoricalWeatherDF(Feb2020)

In [22]:
# March
date = "2020-03-01"
enddate = "2020-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March2020 = monthlyHistoricalWeather(date, enddate, responseJson)
March2020DF = monthlyHistoricalWeatherDF(March2020)

In [23]:
# April
date = "2020-04-01"
enddate = "2020-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April2020 = monthlyHistoricalWeather(date, enddate, responseJson)
April2020DF = monthlyHistoricalWeatherDF(April2020)

In [24]:
# May
date = "2020-05-01"
enddate = "2020-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May2020 = monthlyHistoricalWeather(date, enddate, responseJson)
May2020DF = monthlyHistoricalWeatherDF(May2020)

In [25]:
# June
date = "2020-06-01"
enddate = "2020-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June2020 = monthlyHistoricalWeather(date, enddate, responseJson)
June2020DF = monthlyHistoricalWeatherDF(June2020)

In [26]:
# July
date = "2020-07-01"
enddate = "2020-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July2020 = monthlyHistoricalWeather(date, enddate, responseJson)
July2020DF = monthlyHistoricalWeatherDF(July2020)

In [27]:
# Combine each month into a single DataFrame
#hourlyWeatherDF2019 = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF]) 
hourlyWeatherDF = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF, Jan2020DF, Feb2020DF, March2020DF, April2020DF, May2020DF, June2020DF, July2020DF]) 
index = np.arange(0,24*578,1)
hourlyWeatherDF = hourlyWeatherDF.set_index(index)
hourlyWeatherDF

             Date  Time Sunhour Temp_F cloudcover_percent uvIndex humidity
0      2019-01-01     0     6.7     43                  0       1       88
1      2019-01-01   100     6.7     43                  0       1       88
2      2019-01-01   200     6.7     43                  0       1       88
3      2019-01-01   300     6.7     43                  0       1       88
4      2019-01-01   400     6.7     43                  0       1       88
...           ...   ...     ...    ...                ...     ...      ...
13867  2020-07-31  1900     6.9     79                 73       1       89
13868  2020-07-31  2000     6.9     79                 73       1       89
13869  2020-07-31  2100     6.9     79                 73       1       89
13870  2020-07-31  2200     6.9     79                 73       1       89
13871  2020-07-31  2300     6.9     79                 73       1       89

[13872 rows x 7 columns]

In [28]:
hourlyWeatherDF.dtypes

Date                  object
Time                  object
Sunhour               object
Temp_F                object
cloudcover_percent    object
uvIndex               object
humidity              object
dtype: object

# Performing ETL on Solar Data

In [29]:
def cleaningDataFrame_datetime(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Time'] = df['Time'].astype(int)
    df['Time'] = (df['Time']/100).astype(int)
    df['Time'] = df['Time'].astype('timedelta64[h]')
    df['Time'] = df['Time'] - pd.to_timedelta(df['Time'].dt.days, unit='d')
    df['Date_Time'] = df['Date'] + df['Time']
    df = df.drop(['Time', 'Date'], 1)
    return df

In [30]:
def cleaningDataFrame_solar(df):
    df['Temp_F'] = df['Temp_F'].astype(int)
    df['Sunhour'] = df['Sunhour'].astype(float)
    df['cloudcover_percent'] = df['cloudcover_percent'].astype(int)
    df['uvIndex'] = df['uvIndex'].astype(int)
    df['humidity'] = df['humidity'].astype(int)
    df = df.drop(df.index[0])
    return df

In [31]:
cleanDF = cleaningDataFrame_datetime(hourlyWeatherDF)
cleanDF.head()

  Sunhour Temp_F cloudcover_percent uvIndex humidity           Date_Time
0     6.7     43                  0       1       88 2019-01-01 00:00:00
1     6.7     43                  0       1       88 2019-01-01 01:00:00
2     6.7     43                  0       1       88 2019-01-01 02:00:00
3     6.7     43                  0       1       88 2019-01-01 03:00:00
4     6.7     43                  0       1       88 2019-01-01 04:00:00

In [32]:
solarDF = cleaningDataFrame_solar(cleanDF)
solarDF

,Sunhour,Temp_F,cloudcover_percent,uvIndex,humidity,Date_Time
1,6.7,43,0,1,88,2019-01-01 01:00:00
2,6.7,43,0,1,88,2019-01-01 02:00:00
3,6.7,43,0,1,88,2019-01-01 03:00:00
4,6.7,43,0,1,88,2019-01-01 04:00:00
5,6.7,43,0,1,88,2019-01-01 05:00:00
...,...,...,...,...,...,...
13867,6.9,79,73,1,89,2020-07-31 19:00:00
13868,6.9,79,73,1,89,2020-07-31 20:00:00
13869,6.9,79,73,1,89,2020-07-31 21:00:00
13870,6.9,79,73,1,89,2020-07-31 22:00:00
13871,6.9,79,73,1,89,2020-07-31 23:00:00

In [33]:
solarDF.dtypes

Sunhour                      float64
Temp_F                         int32
cloudcover_percent             int32
uvIndex                        int32
humidity                       int32
Date_Time             datetime64[ns]
dtype: object

# Importing and Performing ETL on Hackberry Wind Energy Data

In [34]:
data = "Resources/Webberville_Gen_Data.csv"
Webberville_df = pd.read_csv(data)
Webberville_df

                Unit      Date Hour Ending  MWH
0      WEBBER_S_WSP1  20190101         100  0.0
1      WEBBER_S_WSP1  20190101         200  0.0
2      WEBBER_S_WSP1  20190101         300  0.0
3      WEBBER_S_WSP1  20190101         400  0.0
4      WEBBER_S_WSP1  20190101         500  0.0
...              ...       ...         ...  ...
13866  WEBBER_S_WSP1  20200731        2000  0.0
13867  WEBBER_S_WSP1  20200731        2100  0.0
13868  WEBBER_S_WSP1  20200731        2200  0.0
13869  WEBBER_S_WSP1  20200731        2300  0.0
13870  WEBBER_S_WSP1  20200731        2400  0.0

[13871 rows x 4 columns]

In [35]:
def cleanRenewableFarmData(df):
    '''
    This function cleans the raw farm data.
    '''
    df = df.drop('Unit', 1)
    df.rename(columns = {'Hour Ending':'Hour'}, inplace = True)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
    df['Hour'] = df['Hour'].astype(str).str[:-2].astype(np.int64)
    df['hour'] = pd.to_timedelta(df['Hour'], unit='h')
    df['hour'] = df['hour'] - pd.to_timedelta(df['hour'].dt.days, unit='d')
    df = df.drop('Hour', 1)
    df = df[["Date", "hour", "MWH"]]
    df['Date_Time'] = df['Date'] + df['hour']
    df = df[["Date_Time", "MWH"]]
    return df

In [36]:
cleanedSolarDF = cleanRenewableFarmData(Webberville_df)
cleanedSolarDF.head()

            Date_Time  MWH
0 2019-01-01 01:00:00  0.0
1 2019-01-01 02:00:00  0.0
2 2019-01-01 03:00:00  0.0
3 2019-01-01 04:00:00  0.0
4 2019-01-01 05:00:00  0.0

## Merging Webberville Energy Data with Solar Data

In [37]:
# joining dataframes based on Date_Time
WebbervilleSolarMWH = pd.merge(solarDF, cleanedSolarDF, on='Date_Time', how='outer')

In [38]:
# Rearranging dataframe columns
WebbervilleSolarMWH = WebbervilleSolarMWH[['Date_Time', 'Sunhour', 'Temp_F', 'cloudcover_percent', 'uvIndex', 'humidity', 'MWH']]

In [39]:
# The solar power is generated by three types of panels.
#270 Watts panel - 32,018, 275 Watts panel - 63,238, 280 Watts panel - 32,022.
#Adding the 270 Watt panel number to the 280 Watt panel number is about the same in total to the 275 Watt panels.
# Hence we can estimate that all panels are 275 Watt type panels and there are 127,278 of them.
#The per panel output is the total MHW/127,278.
WebbervilleSolarMWH['MWH'] = WebbervilleSolarMWH['MWH']/127278

In [40]:
# Dropping last row of the dataframe
WebbervilleSolarMWH = WebbervilleSolarMWH[:-1]

In [41]:
WebbervilleSolarMWH

,Date_Time,Sunhour,Temp_F,cloudcover_percent,uvIndex,humidity,MWH
0,2019-01-01 01:00:00,6.7,43.0,0.0,1.0,88.0,0.0
1,2019-01-01 02:00:00,6.7,43.0,0.0,1.0,88.0,0.0
2,2019-01-01 03:00:00,6.7,43.0,0.0,1.0,88.0,0.0
3,2019-01-01 04:00:00,6.7,43.0,0.0,1.0,88.0,0.0
4,2019-01-01 05:00:00,6.7,43.0,0.0,1.0,88.0,0.0
...,...,...,...,...,...,...,...
13867,2020-07-31 19:00:00,6.9,79.0,73.0,1.0,89.0,0.0
13868,2020-07-31 20:00:00,6.9,79.0,73.0,1.0,89.0,0.0
13869,2020-07-31 21:00:00,6.9,79.0,73.0,1.0,89.0,0.0
13870,2020-07-31 22:00:00,6.9,79.0,73.0,1.0,89.0,0.0
13871,2020-07-31 23:00:00,6.9,79.0,73.0,1.0,89.0,0.0

In [42]:
def datetimeSplit(df):
    
    # Creating features for year, month, day
    df['year'] = df['Date_Time'].dt.year
    df['month'] = df['Date_Time'].dt.month
    df['day'] = df['Date_Time'].dt.day
    return df

In [43]:
WebbervilleSolarMWH = datetimeSplit(WebbervilleSolarMWH)
WebbervilleSolarMWH

,Date_Time,Sunhour,Temp_F,cloudcover_percent,uvIndex,humidity,MWH,year,month,day
0,2019-01-01 01:00:00,6.7,43.0,0.0,1.0,88.0,0.0,2019,1,1
1,2019-01-01 02:00:00,6.7,43.0,0.0,1.0,88.0,0.0,2019,1,1
2,2019-01-01 03:00:00,6.7,43.0,0.0,1.0,88.0,0.0,2019,1,1
3,2019-01-01 04:00:00,6.7,43.0,0.0,1.0,88.0,0.0,2019,1,1
4,2019-01-01 05:00:00,6.7,43.0,0.0,1.0,88.0,0.0,2019,1,1
...,...,...,...,...,...,...,...,...,...,...
13867,2020-07-31 19:00:00,6.9,79.0,73.0,1.0,89.0,0.0,2020,7,31
13868,2020-07-31 20:00:00,6.9,79.0,73.0,1.0,89.0,0.0,2020,7,31
13869,2020-07-31 21:00:00,6.9,79.0,73.0,1.0,89.0,0.0,2020,7,31
13870,2020-07-31 22:00:00,6.9,79.0,73.0,1.0,89.0,0.0,2020,7,31
13871,2020-07-31 23:00:00,6.9,79.0,73.0,1.0,89.0,0.0,2020,7,31

In [44]:
WebbervilleSolarMWH.dtypes

Date_Time             datetime64[ns]
Sunhour                      float64
Temp_F                       float64
cloudcover_percent           float64
uvIndex                      float64
humidity                     float64
MWH                          float64
year                           int64
month                          int64
day                            int64
dtype: object

In [45]:
WebbervilleSolarMWH.to_csv(r'Output/Webberville_Solar_MWH.csv', index = False)

# MongoDB

In [46]:
# import dependencies
import config
import pymongo
import pandas as pd
import json

ModuleNotFoundError: No module named 'pymongo'

In [ ]:
# set string variables
DEFAULT_DATABASE = 'wind_solar_data' 
USERNAME = config.USERNAME
PASSWORD = config.PASSWORD

#create connection to database
client = pymongo.MongoClient(f"mongodb+srv://{USERNAME}:{PASSWORD}@austin-green-energy.pwzpm.mongodb.net/{DEFAULT_DATABASE}?retryWrites=true&w=majority")
try:
    client.server_info()
    print("Mongodb connected")
except:
    print("The Mongodb failed to connect. Check username/password in connection string.")

In [ ]:
# Uploading the solar data to the Database

# select database
db = client.get_database('wind_solar_data')
# select collection
collection = db.wind_data

# pull the csv from file
solar_data = solar_data = pd.read_csv('.\Output\Webberville_Solar_MWH.csv')  
# turn the CSV into a JSON
solar_data_json = json.loads(solar_data.to_json(orient='records'))

# remove what is in the collection currently
collection.remove()
# insert the new JSON data into the database
collection.insert(solar_data_json)

In [ ]:
# select database
db = client.get_database('wind_solar_data')
# select collection
collection = db.solar_data

# pull collection into dataframe
solar_df = pd.DataFrame(list(collection.find()))
solar_df