# ETL

In [1]:
# Initial Imports
import requests
import pandas as pd
import json
import numpy as np
from datetime import datetime
from datetime import timedelta

In [2]:
# Import API Key
from config import key

# Documentation:
#https://www.worldweatheronline.com/developer/my/analytics.aspx?key_id=222419

In [3]:
# Make a request to the worldweatheronline local history weather API page
def makeARequest(location, startDate, endDate, yourAPIKey):
    baseURL = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
    timeInterval = "1"
    outputFormatToReturn = "json"

    requestURL = f"{baseURL}?q={location}&date={startDate}&enddate={endDate}&tp={timeInterval}&format={outputFormatToReturn}&key={yourAPIKey}"
    
    response = requests.get(requestURL)

    if response.status_code == 200:
        responseJson = response.json()
        return responseJson
    else:
        return print(response.status_code)

In [4]:
# Pull the wind variables from the responseJson 
def monthlyHistoricalWeather(firstDayOfMonth, lastDayOfMonth, jsonResponse):
    
    first = datetime.strptime(firstDayOfMonth, '%Y-%m-%d')
    last = datetime.strptime(lastDayOfMonth, '%Y-%m-%d')
    numberOfDays = last.day - first.day

    HourlyHistoricalWeather = []
    
    for day in np.arange(0,numberOfDays + 1,1):
        for hour in np.arange(0,24,1):
            HourlyHistoricalWeather.append({
                "Date" : jsonResponse["data"]["weather"][day]["date"],
                "Time" : jsonResponse["data"]["weather"][day]["hourly"][hour]["time"],
                "Temp_F" : jsonResponse["data"]["weather"][day]["hourly"][hour]["tempF"],
                "WindSpeed_mph" : jsonResponse["data"]["weather"][day]["hourly"][hour]["windspeedMiles"],
                "WindDirection_degrees" : jsonResponse["data"]["weather"][day]["hourly"][hour]["winddirDegree"],
                "WindGust_mph" : jsonResponse["data"]["weather"][day]["hourly"][hour]["WindGustMiles"],
                "Humidity_percent" : jsonResponse["data"]["weather"][day]["hourly"][hour]["humidity"]
            })

    return HourlyHistoricalWeather

In [5]:
# Store the variables in a DataFrame
def monthlyHistoricalWeatherDF(month):
    weatherDataFrame = pd.DataFrame(month)
    return weatherDataFrame

In [6]:
# Define the Latitude and longitude of Hackberry Wind Farm
    # https://www.thewindpower.net/windfarm_en_4012_hackberry.php
    # Latitude: 32.776111
    # Longitude: -99.476444
latLong = "32.776111,-99.476444"

In [7]:
# January
date = "2019-01-01"
enddate = "2019-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

January = monthlyHistoricalWeather(date, enddate, responseJson)
JanuaryDF = monthlyHistoricalWeatherDF(January)

In [8]:
# February
date = "2019-02-01"
enddate = "2019-02-28"

responseJson = makeARequest(latLong, date, enddate, key)

February = monthlyHistoricalWeather(date, enddate, responseJson)
FebruaryDF = monthlyHistoricalWeatherDF(February)

In [9]:
# March
date = "2019-03-01"
enddate = "2019-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March = monthlyHistoricalWeather(date, enddate, responseJson)
MarchDF = monthlyHistoricalWeatherDF(March)

In [10]:
# April
date = "2019-04-01"
enddate = "2019-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April = monthlyHistoricalWeather(date, enddate, responseJson)
AprilDF = monthlyHistoricalWeatherDF(April)

In [11]:
# May
date = "2019-05-01"
enddate = "2019-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May = monthlyHistoricalWeather(date, enddate, responseJson)
MayDF = monthlyHistoricalWeatherDF(May)

In [12]:
# June
date = "2019-06-01"
enddate = "2019-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June = monthlyHistoricalWeather(date, enddate, responseJson)
JuneDF = monthlyHistoricalWeatherDF(June)

In [13]:
# July
date = "2019-07-01"
enddate = "2019-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July = monthlyHistoricalWeather(date, enddate, responseJson)
JulyDF = monthlyHistoricalWeatherDF(July)

In [14]:
# August
date = "2019-08-01"
enddate = "2019-08-31"

responseJson = makeARequest(latLong, date, enddate, key)

August = monthlyHistoricalWeather(date, enddate, responseJson)
AugustDF = monthlyHistoricalWeatherDF(August)

In [15]:
# September
date = "2019-09-01"
enddate = "2019-09-30"

responseJson = makeARequest(latLong, date, enddate, key)

September = monthlyHistoricalWeather(date, enddate, responseJson)
SeptemberDF = monthlyHistoricalWeatherDF(September)

In [16]:
# October
date = "2019-10-01"
enddate = "2019-10-31"

responseJson = makeARequest(latLong, date, enddate, key)

October = monthlyHistoricalWeather(date, enddate, responseJson)
OctoberDF = monthlyHistoricalWeatherDF(October)

In [17]:
# November
date = "2019-11-01"
enddate = "2019-11-30"

responseJson = makeARequest(latLong, date, enddate, key)

November = monthlyHistoricalWeather(date, enddate, responseJson)
NovemberDF = monthlyHistoricalWeatherDF(November)

In [18]:
# December
date = "2019-12-01"
enddate = "2019-12-31"

responseJson = makeARequest(latLong, date, enddate, key)

December = monthlyHistoricalWeather(date, enddate, responseJson)
DecemberDF = monthlyHistoricalWeatherDF(December)

In [19]:
# January
date = "2020-01-01"
enddate = "2020-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

Jan2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Jan2020DF = monthlyHistoricalWeatherDF(Jan2020)

In [20]:
# February
date = "2020-02-01"
enddate = "2020-02-29"

responseJson = makeARequest(latLong, date, enddate, key)

Feb2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Feb2020DF = monthlyHistoricalWeatherDF(Feb2020)

In [21]:
# March
date = "2020-03-01"
enddate = "2020-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March2020 = monthlyHistoricalWeather(date, enddate, responseJson)
March2020DF = monthlyHistoricalWeatherDF(March2020)

In [22]:
# April
date = "2020-04-01"
enddate = "2020-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April2020 = monthlyHistoricalWeather(date, enddate, responseJson)
April2020DF = monthlyHistoricalWeatherDF(April2020)

In [23]:
# May
date = "2020-05-01"
enddate = "2020-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May2020 = monthlyHistoricalWeather(date, enddate, responseJson)
May2020DF = monthlyHistoricalWeatherDF(May2020)

In [24]:
# June
date = "2020-06-01"
enddate = "2020-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June2020 = monthlyHistoricalWeather(date, enddate, responseJson)
June2020DF = monthlyHistoricalWeatherDF(June2020)

In [25]:
# July
date = "2020-07-01"
enddate = "2020-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July2020 = monthlyHistoricalWeather(date, enddate, responseJson)
July2020DF = monthlyHistoricalWeatherDF(July2020)

In [26]:
# Combine each month into a single DataFrame
#hourlyWeatherDF2019 = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF]) 
hourlyWeatherDF = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF, Jan2020DF, Feb2020DF, March2020DF, April2020DF, May2020DF, June2020DF, July2020DF]) 
index = np.arange(0,24*578,1)
hourlyWeatherDF = hourlyWeatherDF.set_index(index)
hourlyWeatherDF

,Date,Time,Temp_F,WindSpeed_mph,WindDirection_degrees,WindGust_mph,Humidity_percent
0,2019-01-01,0,35,12,126,24,73
1,2019-01-01,100,33,13,89,23,74
2,2019-01-01,200,32,14,53,23,76
3,2019-01-01,300,30,15,17,22,77
4,2019-01-01,400,29,14,18,21,77
...,...,...,...,...,...,...,...
13867,2020-07-31,1900,88,8,104,11,35
13868,2020-07-31,2000,86,8,78,12,39
13869,2020-07-31,2100,84,7,52,13,43
13870,2020-07-31,2200,82,7,55,13,47
13871,2020-07-31,2300,79,7,58,14,51

In [27]:
hourlyWeatherDF.dtypes

Date                     object
Time                     object
Temp_F                   object
WindSpeed_mph            object
WindDirection_degrees    object
WindGust_mph             object
Humidity_percent         object
dtype: object

# Performing ETL on Wind Weather Data

In [28]:
def cleaningDataFrame_datetime(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Time'] = df['Time'].astype(int)
    df['Time'] = (df['Time']/100).astype(int)
    df['Time'] = df['Time'].astype('timedelta64[h]')
    df['Time'] = df['Time'] - pd.to_timedelta(df['Time'].dt.days, unit='d')
    df['Date_Time'] = df['Date'] + df['Time']
    df = df.drop(['Time', 'Date'], 1)
    return df

In [29]:
def cleaningDataFrame_wind(df):
    df['Temp_F'] = df['Temp_F'].astype(int)
    df['Humidity_percent'] = df['Humidity_percent'].astype(int)
    df['WindSpeed_mph'] = df['WindSpeed_mph'].astype(int)
    df['WindDirection_degrees'] = df['WindDirection_degrees'].astype(int)
    df['WindGust_mph'] = df['WindGust_mph'].astype(int)
    #df = df.drop(df.index[0])
    return df

In [30]:
cleanDateTime_hourlyWeatherDF = cleaningDataFrame_datetime(hourlyWeatherDF)
cleanDateTime_hourlyWeatherDF.head()

,Temp_F,WindSpeed_mph,WindDirection_degrees,WindGust_mph,Humidity_percent,Date_Time
0,35,12,126,24,73,2019-01-01 00:00:00
1,33,13,89,23,74,2019-01-01 01:00:00
2,32,14,53,23,76,2019-01-01 02:00:00
3,30,15,17,22,77,2019-01-01 03:00:00
4,29,14,18,21,77,2019-01-01 04:00:00

In [31]:
cleaned_hourlyWeatherDF = cleaningDataFrame_wind(cleanDateTime_hourlyWeatherDF)
print(cleaned_hourlyWeatherDF.shape)
cleaned_hourlyWeatherDF.head()

(13872, 6)

,Temp_F,WindSpeed_mph,WindDirection_degrees,WindGust_mph,Humidity_percent,Date_Time
0,35,12,126,24,73,2019-01-01 00:00:00
1,33,13,89,23,74,2019-01-01 01:00:00
2,32,14,53,23,76,2019-01-01 02:00:00
3,30,15,17,22,77,2019-01-01 03:00:00
4,29,14,18,21,77,2019-01-01 04:00:00

In [32]:
cleaned_hourlyWeatherDF.tail()

,Temp_F,WindSpeed_mph,WindDirection_degrees,WindGust_mph,Humidity_percent,Date_Time
13867,88,8,104,11,35,2020-07-31 19:00:00
13868,86,8,78,12,39,2020-07-31 20:00:00
13869,84,7,52,13,43,2020-07-31 21:00:00
13870,82,7,55,13,47,2020-07-31 22:00:00
13871,79,7,58,14,51,2020-07-31 23:00:00

In [33]:
cleaned_hourlyWeatherDF.dtypes

Temp_F                            int32
WindSpeed_mph                     int32
WindDirection_degrees             int32
WindGust_mph                      int32
Humidity_percent                  int32
Date_Time                datetime64[ns]
dtype: object

# Importing and Performing ETL on Hackberry Wind Energy Data

In [34]:
data = "Resources/Hackberry_Generation.csv"
Hackberry_df = pd.read_csv(data)
print(Hackberry_df.shape)
Hackberry_df.head()

(13871, 4)

        Unit      Date Hour Ending         MWH
0  HWF_HWFG1  20190101         100  110.487950
1  HWF_HWFG1  20190101         200   72.020225
2  HWF_HWFG1  20190101         300   67.639475
3  HWF_HWFG1  20190101         400   63.718900
4  HWF_HWFG1  20190101         500   61.264250

In [35]:
def cleanRenewableFarmData(df):
    '''
    This function cleans the raw farm data.
    '''
    df = df.drop('Unit', 1)
    df.rename(columns = {'Hour Ending':'Hour'}, inplace = True)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
    df['Hour'] = df['Hour'].astype(str).str[:-2].astype(np.int64)
    df['hour'] = pd.to_timedelta(df['Hour'], unit='h')
    df['hour'] = df['hour'] - pd.to_timedelta(df['hour'].dt.days, unit='d')
    df = df.drop('Hour', 1)
    df = df[["Date", "hour", "MWH"]]
    df['Date_Time'] = df['Date'] + df['hour']
    df = df[["Date_Time", "MWH"]]
    return df

In [36]:
cleaned_Hackberry_df = cleanRenewableFarmData(Hackberry_df)
print(cleaned_Hackberry_df.shape)
cleaned_Hackberry_df

(13871, 2)

                Date_Time         MWH
0     2019-01-01 01:00:00  110.487950
1     2019-01-01 02:00:00   72.020225
2     2019-01-01 03:00:00   67.639475
3     2019-01-01 04:00:00   63.718900
4     2019-01-01 05:00:00   61.264250
...                   ...         ...
13866 2020-07-31 20:00:00    4.998600
13867 2020-07-31 21:00:00   16.390275
13868 2020-07-31 22:00:00   20.637800
13869 2020-07-31 23:00:00   13.998975
13870 2020-07-31 00:00:00   12.494875

[13871 rows x 2 columns]

In [37]:
cleaned_Hackberry_df.dtypes

Date_Time    datetime64[ns]
MWH                 float64
dtype: object

## Merging Hackberry Energy Data with Wind Weather Data

In [38]:
Hackberry_Wind_MWH = pd.merge(cleaned_hourlyWeatherDF, cleaned_Hackberry_df, on='Date_Time', how='outer')

# There are 72 turbines in Hackberry Farm and power generated per turbine is adjusted
Hackberry_Wind_MWH['MWH'] = Hackberry_Wind_MWH['MWH']/72

Hackberry_Wind_MWH

,Temp_F,WindSpeed_mph,WindDirection_degrees,WindGust_mph,Humidity_percent,Date_Time,MWH
0,35,12,126,24,73,2019-01-01 00:00:00,0.069571
1,33,13,89,23,74,2019-01-01 01:00:00,1.534555
2,32,14,53,23,76,2019-01-01 02:00:00,1.000281
3,30,15,17,22,77,2019-01-01 03:00:00,0.939437
4,29,14,18,21,77,2019-01-01 04:00:00,0.884985
...,...,...,...,...,...,...,...
13868,88,8,104,11,35,2020-07-31 19:00:00,0.149502
13869,86,8,78,12,39,2020-07-31 20:00:00,0.069425
13870,84,7,52,13,43,2020-07-31 21:00:00,0.227643
13871,82,7,55,13,47,2020-07-31 22:00:00,0.286636
13872,79,7,58,14,51,2020-07-31 23:00:00,0.194430

In [39]:
Hackberry_Wind_MWH["Date_Time"].nunique()

13872

In [40]:
Hackberry_Wind_MWH["Date_Time"].value_counts()

2019-11-03 20:00:00    2
2019-05-04 01:00:00    1
2020-03-17 13:00:00    1
2019-10-22 15:00:00    1
2020-06-02 22:00:00    1
                      ..
2020-01-27 08:00:00    1
2020-05-31 02:00:00    1
2020-06-01 16:00:00    1
2019-09-03 14:00:00    1
2019-02-21 22:00:00    1
Name: Date_Time, Length: 13872, dtype: int64

In [41]:
def datetimeSplit(df):
    
    # Creating features for year, month, day
    df['year'] = df['Date_Time'].dt.year
    df['month'] = df['Date_Time'].dt.month
    df['day'] = df['Date_Time'].dt.day
    return df

In [42]:
Hackberry_Wind_MWH = datetimeSplit(Hackberry_Wind_MWH)
Hackberry_Wind_MWH

,Temp_F,WindSpeed_mph,WindDirection_degrees,WindGust_mph,Humidity_percent,Date_Time,MWH,year,month,day
0,35,12,126,24,73,2019-01-01 00:00:00,0.069571,2019,1,1
1,33,13,89,23,74,2019-01-01 01:00:00,1.534555,2019,1,1
2,32,14,53,23,76,2019-01-01 02:00:00,1.000281,2019,1,1
3,30,15,17,22,77,2019-01-01 03:00:00,0.939437,2019,1,1
4,29,14,18,21,77,2019-01-01 04:00:00,0.884985,2019,1,1
...,...,...,...,...,...,...,...,...,...,...
13868,88,8,104,11,35,2020-07-31 19:00:00,0.149502,2020,7,31
13869,86,8,78,12,39,2020-07-31 20:00:00,0.069425,2020,7,31
13870,84,7,52,13,43,2020-07-31 21:00:00,0.227643,2020,7,31
13871,82,7,55,13,47,2020-07-31 22:00:00,0.286636,2020,7,31
13872,79,7,58,14,51,2020-07-31 23:00:00,0.194430,2020,7,31

In [43]:
Hackberry_Wind_MWH.to_csv(r'Output/Hackberry_Wind_MWH.csv', index = False)

# MongoDB

In [44]:
# import dependencies
import config
import pymongo
import pandas as pd
import json

ModuleNotFoundError: No module named 'pymongo'

In [ ]:
# set string variables
DEFAULT_DATABASE = 'wind_solar_data' 
USERNAME = config.USERNAME
PASSWORD = config.PASSWORD

#create connection to database
client = pymongo.MongoClient(f"mongodb+srv://{USERNAME}:{PASSWORD}@austin-green-energy.pwzpm.mongodb.net/{DEFAULT_DATABASE}?retryWrites=true&w=majority")
try:
    client.server_info()
    print("Mongodb connected")
except:
    print("The Mongodb failed to connect. Check username/password in connection string.")

In [ ]:
# Uploading the wind data to the Database

# select database
db = client.get_database('wind_solar_data')
# select collection
collection = db.wind_data

# pull the csv from file
wind_data = wind_data = pd.read_csv('.\Output\Hackberry_Wind_MWH.csv')  
# turn the CSV into a JSON
wind_data_json = json.loads(wind_data.to_json(orient='records'))

# remove what is in the collection currently
collection.remove()
# insert the new JSON data into the database
collection.insert(wind_data_json)

In [ ]:
# select database
db = client.get_database('wind_solar_data')
# select collection
collection = db.wind_data

# pull collection into dataframe
wind_df = pd.DataFrame(list(collection.find()))
wind_df